body {
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.listPage {
  background-color: cornflowerblue;
  width: 400px;
  height: 600px;
  border-radius: 20px;
}
.header {
  background-color: coral;
  width: 400px;
  height: 60px;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header p {
  margin: 0;
  color: white;
  font-size: 25px;
}
.footer {
  background-color: coral;
  width: 400px;
  height: 70px;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.plus-item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.item-container {
  width: 400px;
  height: 440px;
  background-color: wheat;
}
.item-list {
  margin: 0;
  padding: 20px 40px 20px 40px;
}

.input-item {
  width: 392px;
  height: 30px;
}

.each-item {
  list-style: none;
  margin: 10px 0 10px 0;
}

.each-item span {
  display: inline-block;
  width: 280px;
}

.each-item button {
  margin: 0 5px 0 5px;
}
